In [1]:
# Program for generating 1 to n numbers, for +ve n
n=int(input("Enter any +ve number: "))
print(f"Numbers b/w 0 to {n}:")
print("="*50)
i=1 #initialization
while(i<=n):
    print("{}\t".format(i))
    i+=1 #updation
else:
    print("="*50)
print("Program Execution Over !!!")

Enter any +ve number: 5
Numbers b/w 0 to 5:
==================================================
1
2
3
4
5
==================================================
Program Execution Over !!!

In [2]:
# Program for generating n to 1 numbers, for +ve n
n = int(input("Enter any number:"))
if(n>0):
    print("="*50)
    i=n
    while(i>0):
        print(f"{i}")
        i-=1
    else:
        print("Program Execution Over!!!")
        
else:
    print("Please enter a positive number")

Enter any number:12
==================================================
12
11
10
9
8
7
6
5
4
3
2
1
Program Execution Over!!!

In [3]:
# Multipliction Table
n = int(input("Enter the number whose table has to be printed: "))
print("="*50)
print(f'Multiplication Table for {n}')
print("="*50)
i = 1
while(i<11):
    print(f'\t{n} x {i} = {n*i}')
    i+=1
print("="*50)

Enter the number whose table has to be printed: 19
==================================================
Multiplication Table for 19
==================================================
	19 x 1 = 19
	19 x 2 = 38
	19 x 3 = 57
	19 x 4 = 76
	19 x 5 = 95
	19 x 6 = 114
	19 x 7 = 133
	19 x 8 = 152
	19 x 9 = 171
	19 x 10 = 190
==================================================

In [4]:
#Program for accepting a line of text and display all chars 
#chargenex.py
line = input("Enter any line of text: ")
n = len(line)
i = 0
while(i<n):
    print("{}".format(line[i]))
    i+=1

Enter any line of text: Hi there how are you doing?
H
i

t
h
e
r
e

h
o
w

a
r
e

y
o
u

d
o
i
n
g
?

In [5]:
#Printing 1 to n
n=int(input("Enter any number:"))
if(n>0):
    for i in range(1,n+1):
        print("{}\t".format(i))
else:
    print("Enter a valid input!")

Enter any number:15
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15

In [6]:
#Printing n to 1
n=int(input("Enter a number:"))
if(n>0):
    for i in range(n,0,-1):
        print("{}\t".format(i))
else:
    print("Enter a valid input!")

Enter a number:10
10
9
8
7
6
5
4
3
2
1

In [7]:
#Program for generating Factors for a given number
#FactorsEx.py
n=int(input("Enter any number whose factors u want to print: "))
factors=[]
if(n<0):
    print("Enter a valid number !!!")
else:
    for i in range(1,(n//2)+1):
        if(n%i == 0):
            factors.append(i)
    else:
        print("="*50)
        print("Factors of {}:\n".format(n))
        print(factors)
        print("="*50)

Enter any number whose factors u want to print: 12
==================================================
Factors of 12:

[1, 2, 3, 4, 6]
==================================================

In [8]:
#Program finding sum of first natural nums
#NatNumSum.py
n=int(input("Enter any number: "))
print("="*50)
sum=0
if(n>0):
    for i in range(1,n+1):
        sum=sum+i
        print("{}\t".format(i))
    print("="*50)
    print("Sum of 1st {} natural numbers is: {}".format(n,sum))
    print("="*50)
else:
    print("Enter a +ve number!!!")

Enter any number: 5
==================================================
1
2
3
4
5
==================================================
Sum of 1st 5 natural numbers is: 15
==================================================

In [9]:
#Program for printing the characters
#CharGenEx1.py
line = input("Enter a line of text: ")
print("="*50)
print("Characters in the line:")
print("="*50)
for i in line:
    print(i)

Enter a line of text: Hi there
==================================================
Characters in the line:
==================================================
H
i

t
h
e
r
e

In [10]:
#Program for finding sum of natural numbers, squares and cubes of first n natural numbers 
#NatNumsSqCubes.py
n=int(input("Enter a number: "))
s=0
ss=0
cs=0

print("="*50)
for i in range(1,n+1):
    print("{}\t".format(i))
    s=s+i
    ss+=i**2
    cs+=i**3
print("="*50)
print("Sum of 1st {} natural numbers = {}".format(n,s))
print("Sum of Squares = {}".format(ss))
print("Sum of Cubes = {}".format(cs))
print("="*50)

Enter a number: 10
==================================================
1
2
3
4
5
6
7
8
9
10
==================================================
Sum of 1st 10 natural numbers = 55
Sum of Squares = 385
Sum of Cubes = 3025
==================================================

In [11]:
#Program for calculate factorial of a given number 
#FactEx1.py
n=int(input("Enter a number: "))
prod=1

# for i in range(n,0,-1):
#     prod*=i
# print("{}! = {}".format(n,prod))

# i=1
# while(i<n+1):
#     prod*=i
#     i+=1
# print("{}! = {}".format(n,prod))

for i in range(1,n+1):
    prod*=i
print("{}! = {}".format(n,prod))

Enter a number: 5
5! = 120

In [12]:
#Program to accept a number and find sum of its digits 
#digitssum.py
n=int(input("Enter a number: "))
x=n
ds=0
length = len(str(n))
for i in range(0,length):
    ds+=n%10
    n=n//10
print("Sum of digits in {} = {}".format(x,ds))

Enter a number: 252
Sum of digits in 252 = 9

In [13]:
len(str(235))

3

In [14]:
235//10

23

In [15]:
347%10

7

In [16]:
252//10

25

In [17]:
25//10

2

In [18]:
2//10

0

In [19]:
n=int(input("Enter a number: "))
dl=[]
counter=0
#res=n//10
while(n>0):
    dl.append(n%10)
    n=n//10
    counter+=1
else:
    print(dl)
    print(counter)

Enter a number: 125
[5, 2, 1]
3

In [20]:
n=int(input("Enter a number: "))
ds=0
while(n>0):
    ds+=n%10
    n=n//10
    
else:
    print("Sum of digits of the entered number = {}".format(ds))

Enter a number: 125
Sum of digits of the entered number = 8

In [21]:
#Program to decide whether the given number or name is palindrome or not 
#palindrome.py
word = input("Enter a string: ")
if(word == word[::-1]):
    print("Palindrome")
else:
    print("Not Palindrome")

Enter a string: MADAM
Palindrome

In [22]:
#This program demonstrates the functionality of break statement 
#breakex1.py
s="PYTHON"
for ch in s:
    if(ch=="H"):
        break       #takes control out of the loop
    else:
        print("\t{}".format(ch))
else:
    print("I am from else block")
print("Other statements in Program")

	P
	Y
	T
Other statements in Program

In [24]:
#This program demonstrates the functionality of break statement 
#breakex2.py
s="PYTHON"
i=0
while(i<len(s)):
    if(s[i]=="O"):
        break        #takes control out of the while loop when executed
    else:
        print("\t{}".format(s[i]))
        i+=1
else:
    print("I am from else block of while loop")
print("Statement from outside the while loop")

	P
	Y
	T
	H
Statement from outside the while loop

In [28]:
#Program for demonstrating continue statement 
#continueEx1.py
s="PYTHON"
for ch in s:
    
    if(ch=='H'):
        continue
        #pass
        
    else:
        print("\t{}".format(ch))
else:
    print("I am from else block of for loop")
print("Other statements in Program")

	P
	Y
	T
	O
	N
I am from else block of for loop
Other statements in Program

In [29]:
lst=["Python", "Java", "Venky", "Django", "Data Science", "Flask", "Pyramid"]
for name in lst:
    if(name=="Venky") or (name=="Flask"):
        continue
    else:
        print("\t{}".format(name))
else:
    print("I am from else block of the for loop")

print("Other statements in Program")

	Python
	Java
	Django
	Data Science
	Pyramid
I am from else block of the for loop
Other statements in Program

In [30]:
lst=["Python", "Java", "Venky", "Django", "Data Science", "Flask", "Pyramid"]
for name in lst:
    if name not in ["Venky","Flask","Python"]:
        continue
    else:
        print("\t{}".format(name))
else:
    print("I am from else block of for loop")
print("Other statements in Programs")

	Python
	Venky
	Flask
I am from else block of for loop
Other statements in Programs

In [37]:
lst=[[2,1,3],[5,2,4],[10,25,12]]
l1=len(lst)
l2=len(lst[0])
print("{}, {}".format(l1,l2))
for i in range(len(lst)):
    for j in range(len(lst[0])):
        print("{}".format(lst[i][j]),end=" ")      #To continue printing in the same line
    print()

3, 3
2 1 3
5 2 4
10 25 12

In [32]:
lst=[[2,1,3],[5,2,4],[10,25,12]]

In [33]:
l1=len(lst)
l2=len(lst[0])

In [34]:
l1

3

In [35]:
l2

3

In [38]:
for i in range(1,3):
    print("i={}".format(i))
    for j in range(10,12):
        print("\tj={}".format(j))
        for k in range(50,52):
            print("\t\tk={}".format(k))

i=1
	j=10
		k=50
		k=51
	j=11
		k=50
		k=51
i=2
	j=10
		k=50
		k=51
	j=11
		k=50
		k=51

In [39]:
#innerloopex1.py
for i in range(1,6):
    print("Outer loop iteration no. {}: ".format(i))
    print("-"*50)
    for j in range(1,4):
        print("\tInner loop iteration no. {}: ".format(j))
    else:
        print("Out of Inner for loop")
        print("-"*40)
else:
    print("Out of Outer for loop")
    print("-"*40)

Outer loop iteration no. 1:
--------------------------------------------------
	Inner loop iteration no. 1:
	Inner loop iteration no. 2:
	Inner loop iteration no. 3:
Out of Inner for loop
----------------------------------------
Outer loop iteration no. 2:
--------------------------------------------------
	Inner loop iteration no. 1:
	Inner loop iteration no. 2:
	Inner loop iteration no. 3:
Out of Inner for loop
----------------------------------------
Outer loop iteration no. 3:
--------------------------------------------------
	Inner loop iteration no. 1:
	Inner loop iteration no. 2:
	Inner loop iteration no. 3:
Out of Inner for loop
----------------------------------------
Outer loop iteration no. 4:
--------------------------------------------------
	Inner loop iteration no. 1:
	Inner loop iteration no. 2:
	Inner loop iteration no. 3:
Out of Inner for loop
----------------------------------------
Outer loop iteration no. 5:
--------------------------------------------------
	Inner loop iteration no. 1:
	Inner loop iteration no. 2:
	Inner loop iteration no. 3:
Out of Inner for loop
----------------------------------------
Out of Outer for loop
----------------------------------------

In [46]:
n = int(input("How many Multiplication tables do you want to print: "))
if(n>0):
    arr=list()
    for i in range(n):
        print("Enter Number {}: ".format(i+1))
        arr.insert(i,int(input()))
        print("="*50)
        print("\tMultiplication Table for {}".format(arr[i]))
        print("="*50)
    #print(arr)
        
        for j in range(1,11):
            print("{} X {} = {}".format(arr[i],j,arr[i]*j))
        print("="*50)
        print("\n")

How many Multiplication tables do you want to print: 3
Enter Number 1:
5
==================================================
	Multiplication Table for 5
==================================================
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
5 X 10 = 50
==================================================


Enter Number 2:
7
==================================================
	Multiplication Table for 7
==================================================
7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63
7 X 10 = 70
==================================================


Enter Number 3:
19
==================================================
	Multiplication Table for 19
==================================================
19 X 1 = 19
19 X 2 = 38
19 X 3 = 57
19 X 4 = 76
19 X 5 = 95
19 X 6 = 114
19 X 7 = 133
19 X 8 = 152
19 X 9 = 171
19 X 10 = 190
==================================================

In [2]:
#multables.py
for n in range(1,21):
    print("="*50)
    print("\tMultiplication Table for {}:".format(n))
    print("="*50)
    for i in range(1,11):
        print("{} X {} = {}".format(n,i,n*i))
    print("="*50)
    print("\n")

==================================================
	Multiplication Table for 1:
==================================================
1 X 1 = 1
1 X 2 = 2
1 X 3 = 3
1 X 4 = 4
1 X 5 = 5
1 X 6 = 6
1 X 7 = 7
1 X 8 = 8
1 X 9 = 9
1 X 10 = 10
==================================================


==================================================
	Multiplication Table for 2:
==================================================
2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
2 X 10 = 20
==================================================


==================================================
	Multiplication Table for 3:
==================================================
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
3 X 10 = 30
==================================================


==================================================
	Multiplication Table for 4:
==================================================
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
4 X 10 = 40
==================================================


==================================================
	Multiplication Table for 5:
==================================================
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
5 X 10 = 50
==================================================


==================================================
	Multiplication Table for 6:
==================================================
6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54
6 X 10 = 60
==================================================


==================================================
	Multiplication Table for 7:
==================================================
7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63
7 X 10 = 70
==================================================


==================================================
	Multiplication Table for 8:
==================================================
8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72
8 X 10 = 80
==================================================


==================================================
	Multiplication Table for 9:
==================================================
9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81
9 X 10 = 90
==================================================


==================================================
	Multiplication Table for 10:
==================================================
10 X 1 = 10
10 X 2 = 20
10 X 3 = 30
10 X 4 = 40
10 X 5 = 50
10 X 6 = 60
10 X 7 = 70
10 X 8 = 80
10 X 9 = 90
10 X 10 = 100
==================================================


==================================================
	Multiplication Table for 11:
==================================================
11 X 1 = 11
11 X 2 = 22
11 X 3 = 33
11 X 4 = 44
11 X 5 = 55
11 X 6 = 66
11 X 7 = 77
11 X 8 = 88
11 X 9 = 99
11 X 10 = 110
==================================================


==================================================
	Multiplication Table for 12:
==================================================
12 X 1 = 12
12 X 2 = 24
12 X 3 = 36
12 X 4 = 48
12 X 5 = 60
12 X 6 = 72
12 X 7 = 84
12 X 8 = 96
12 X 9 = 108
12 X 10 = 120
==================================================


==================================================
	Multiplication Table for 13:
==================================================
13 X 1 = 13
13 X 2 = 26
13 X 3 = 39
13 X 4 = 52
13 X 5 = 65
13 X 6 = 78
13 X 7 = 91
13 X 8 = 104
13 X 9 = 117
13 X 10 = 130
==================================================


==================================================
	Multiplication Table for 14:
==================================================
14 X 1 = 14
14 X 2 = 28
14 X 3 = 42
14 X 4 = 56
14 X 5 = 70
14 X 6 = 84
14 X 7 = 98
14 X 8 = 112
14 X 9 = 126
14 X 10 = 140
==================================================


==================================================
	Multiplication Table for 15:
==================================================
15 X 1 = 15
15 X 2 = 30
15 X 3 = 45
15 X 4 = 60
15 X 5 = 75
15 X 6 = 90
15 X 7 = 105
15 X 8 = 120
15 X 9 = 135
15 X 10 = 150
==================================================


==================================================
	Multiplication Table for 16:
==================================================
16 X 1 = 16
16 X 2 = 32
16 X 3 = 48
16 X 4 = 64
16 X 5 = 80
16 X 6 = 96
16 X 7 = 112
16 X 8 = 128
16 X 9 = 144
16 X 10 = 160
==================================================


==================================================
	Multiplication Table for 17:
==================================================
17 X 1 = 17
17 X 2 = 34
17 X 3 = 51
17 X 4 = 68
17 X 5 = 85
17 X 6 = 102
17 X 7 = 119
17 X 8 = 136
17 X 9 = 153
17 X 10 = 170
==================================================


==================================================
	Multiplication Table for 18:
==================================================
18 X 1 = 18
18 X 2 = 36
18 X 3 = 54
18 X 4 = 72
18 X 5 = 90
18 X 6 = 108
18 X 7 = 126
18 X 8 = 144
18 X 9 = 162
18 X 10 = 180
==================================================


==================================================
	Multiplication Table for 19:
==================================================
19 X 1 = 19
19 X 2 = 38
19 X 3 = 57
19 X 4 = 76
19 X 5 = 95
19 X 6 = 114
19 X 7 = 133
19 X 8 = 152
19 X 9 = 171
19 X 10 = 190
==================================================


==================================================
	Multiplication Table for 20:
==================================================
20 X 1 = 20
20 X 2 = 40
20 X 3 = 60
20 X 4 = 80
20 X 5 = 100
20 X 6 = 120
20 X 7 = 140
20 X 8 = 160
20 X 9 = 180
20 X 10 = 200
==================================================

In [4]:
#Program which will accept a list of numeric values. Separate positive values and negative values.
#PosNegValue.py
n = int(input("Enter how many values do you want to enter"))
if(n<=0):
    print("{} is invalid input!!\n Enter a +ve value")
else:
    l=list() #create an empty list
    for i in range(n):
        val=int(input("Enter value {}: ".format(i)))
        l.append(val)
    else:
        print("="*50)
        print("Given list of elements")
        print("="*50)
        print(l)
        print("\n")
        print("="*50)
        pl=[]
        nl=[]
        for num in l:
            if(num>=0):
                pl.append(num)
            else:
                nl.append(num)
        print("Positive Numbers in list = {}".format(pl))
        print("="*50)
        print("\n")
        print("Negative Numbers in list = {}".format(nl))
        print("\n")

Enter how many values do you want to enter5
Enter value 0: 10
Enter value 1: -12
Enter value 2: 23
Enter value 3: 51
Enter value 4: -8
==================================================
Given list of elements
==================================================
[10, -12, 23, 51, -8]


==================================================
Positive Numbers in list = [10, 23, 51]
==================================================


Negative Numbers in list = [-12, -8]

In [6]:
#Program for accepting age of a citizen and decide eligibility to vote
#VoterEx1.py
age = int(input("Enter your age:"))
if(age>=18) and (age<=100):
    print("You are eligible to cast your vote!!!")
else:
    if(age<18):
        print("You are not yet of age to vote")
    else:
        print("You are too old to vote")

Enter your age:5
You are not yet of age to vote