### map()

- map() is used for **obtaining a new iterable object** from **existing iterable object** by passing old iterable elements to the function
- map() obtains a new list of elements from existing old list of elements by applying the old list to the function
- The map() function executes a specified function for each item in an iterable. The item is sent to the function as a parameter.
- Syntax:-
  - **varname** = **map(functionName, iterable_Object)**
    - here 'varname' is an object of type **<class 'map'>** and we can convert into any iteratable object by using type-casting functions 
    - "**functionName**" represents either **Normal function** or **Anonymous functions**
    - "**Iterable_Object**" represents Iterables like:- list, tuple, set and dict types

- Execution Process:
    - map() sends every element of iterable object to the specified function, which processes it and returns the modified value (result) and obtains a new list of elements
    - This process will be continued until all elements of iterable_Object are passed to the function named "functionName"

In [3]:
#Program for obtaining Square for every element of list by using map() with Normal Function
#mapex1.py
sqLst = lambda x : x**2
    
#main:
print("Enter a list of elements separated by space:")
lst = [int(val) for val in input().split()]
m1 = map(sqLst,lst)
print(m1, type(m1))
m2 = list(map(sqLst,lst))
print("Original List = ",lst)
print("Squared List = ", m2)

Enter a list of elements separated by space:
22 10 5 17 35
<map object at 0x0000022BEEA1BCA0> <class 'map'>
Original List =  [22, 10, 5, 17, 35]
Squared List =  [484, 100, 25, 289, 1225]

In [4]:
#Program for obtaining Square for every element of list by using map() with Normal Function
#mapex2.py
def sq(n):
    return n**2
    
#main:
print("Enter a list of elements separated by space:")
lst = [int(val) for val in input().split()]
m1 = map(sq,lst)
print(m1, type(m1))
m2 = list(map(sq,lst))
print("Original List = ",lst)
print("Squared List = ", m2)

Enter a list of elements separated by space:
5 2 8 6 9
<map object at 0x0000022BEE9F49D0> <class 'map'>
Original List =  [5, 2, 8, 6, 9]
Squared List =  [25, 4, 64, 36, 81]

In [5]:
#Program for obtaining Square for every element of list by using map() with Normal Function
#mapex3.py
    
#main:
print("Enter a list of elements separated by space:")
lst = [int(val) for val in input().split()]
m1 = map(lambda x : x**2, lst)
print(m1, type(m1))
m2 = list(map(lambda x : x**2, lst))
print("Original List = ",lst)
print("Squared List = ", m2)

Enter a list of elements separated by space:
5 8 4 2 9
<map object at 0x0000022BEE541EA0> <class 'map'>
Original List =  [5, 8, 4, 2, 9]
Squared List =  [25, 64, 16, 4, 81]

In [7]:
#Program for obtaining new sal list from oldsal list by giving 10% hike by using map()
#mapex4.py
incSal = lambda n : n + 0.1*n

#main:
print("Enter a list of salaries separated by space:")
oldSal = [int(val) for val in input().split()]
newSal = list(map(incSal, oldSal))

print("Original Salaries = ",oldSal)
print("Incremented Salaries = ", newSal)

Enter a list of salaries separated by space:
20 12 5 32 8
Original Salaries =  [20, 12, 5, 32, 8]
Incremented Salaries =  [22.0, 13.2, 5.5, 35.2, 8.8]